**/.git
**/.gitattributes
**/.github
**/.gitignore
**/.gitmodules
**/*.code-workspace
**/.vscode
**/.devcontainer
**/.x-vscode
**/.x-devcontainer
**/.editorconfig

**/*.egg-info/
**/__pycache__

README.md
CHANGES.md
